# predicting Win % with pythagorean thereom - (RS^2/(RS^2 + RA^2) - 1.81 more accurate

In [1]:
#BOS
BoRS = 829
BoRA = 749
BoWp= BoRS**1.81/(BoRS**1.81 + BoRA**1.81)
BoWins = BoWp * 162
BoWins

88.41823222341877

In [2]:
#BAL
BaRS = 659
BaRA = 956
BaWp= BaRS**1.81/(BaRS**1.81 + BaRA**1.81)
BaWins = BaWp * 162
BaWins

54.7138667452491

# expectations very high for boston and very low for Baltimore coming into the year

# Comparing WC and playoff teams when this was originally ran

In [22]:
from pybaseball import team_batting, team_pitching, batting_stats, pitching_stats
import pandas as pd

In [4]:
MLB = team_batting(2022)
Dv_lead = ('LAD', 'NYY', 'MIL', 'NYM', 'HOU', 'MIN')
WC_teams = ('TOR', 'SEA', 'TBR', 'ATL', 'SDP', 'STL')
Teams = ('BOS', 'BAL')
MLB = MLB.dropna(axis=1, how= 'all')

In [5]:
two_teams = MLB.query('Team in @Teams')
two_teams_adv = two_teams[['Team',  'wOBA', 'wRC+', 'BABIP+', 'Barrel%', 'HardHit%', 'CSW%', 'O-Swing%', 'Z-Swing%', 'O-Contact%', 'Z-Contact%', 'Contact%', 'SwStr%', 'Pull%', 'Cent%', 'Oppo%', 'Hard%' ]]
two_teams_basic = two_teams[['Team', 'BsR', 'Def','OBP', 'OPS', 'ISO', 'HR', 'RBI', 'R', 'SO', 'SB', 'AVG']]
two_teams_adv

,Team,wOBA,wRC+,BABIP+,Barrel%,HardHit%,CSW%,O-Swing%,Z-Swing%,O-Contact%,Z-Contact%,Contact%,SwStr%,Pull%,Cent%,Oppo%,Hard%
11,BOS,0.315,101,106,0.086,0.397,0.275,0.340,0.711,0.635,0.843,0.758,0.119,0.371,0.373,0.256,0.309
22,BAL,0.303,94,98,0.082,0.390,0.272,0.353,0.724,0.621,0.850,0.755,0.123,0.417,0.346,0.237,0.298

In [6]:
Leaders_adv = MLB.query('Team in @Dv_lead')[['Team',  'wOBA', 'wRC+', 'BABIP+', 'Barrel%', 'HardHit%', 'CSW%', 'O-Swing%', 'Z-Swing%', 'O-Contact%', 'Z-Contact%', 'Contact%', 'SwStr%', 'Pull%', 'Cent%', 'Oppo%', 'Hard%' ]]
Leaders_adv1 = pd.DataFrame(Leaders_adv.mean()).T
Leaders_adv1['Team'] = 'Division Leaders'
WC_adv = MLB.query('Team in @WC_teams')[['Team',  'wOBA', 'wRC+', 'BABIP+', 'Barrel%', 'HardHit%', 'CSW%', 'O-Swing%', 'Z-Swing%', 'O-Contact%', 'Z-Contact%', 'Contact%', 'SwStr%', 'Pull%', 'Cent%', 'Oppo%', 'Hard%' ]]
WC_adv1 = pd.DataFrame(WC_adv.mean()).T
WC_adv1['Team'] = 'Wild Card Spots'

In [7]:
adv_merge = pd.concat([two_teams_adv,Leaders_adv1, WC_adv1])
adv_merge

,Team,wOBA,wRC+,BABIP+,Barrel%,HardHit%,CSW%,O-Swing%,Z-Swing%,O-Contact%,Z-Contact%,Contact%,SwStr%,Pull%,Cent%,Oppo%,Hard%
11,BOS,0.315000,101.000000,106.000000,0.086000,0.397000,0.275000,0.340000,0.711000,0.6350,0.843000,0.758000,0.119000,0.371,0.373000,0.256000,0.309000
22,BAL,0.303000,94.000000,98.000000,0.082000,0.390000,0.272000,0.353000,0.724000,0.6210,0.850000,0.755000,0.123000,0.417,0.346000,0.237000,0.298000
0,Division Leaders,0.326833,113.166667,98.833333,0.090000,0.404833,0.271000,0.306833,0.684167,0.6465,0.856833,0.775000,0.104000,0.417,0.343833,0.239333,0.316000
0,Wild Card Spots,0.316167,106.166667,101.500000,0.078833,0.388833,0.273667,0.324000,0.694000,0.6365,0.849667,0.763833,0.112333,0.411,0.346833,0.242167,0.307333

In [8]:
Leaders_basic = MLB.query('Team in @Dv_lead')[['Team', 'BsR', 'Def','OBP', 'OPS', 'ISO', 'HR', 'RBI', 'R', 'SO', 'SB', 'AVG']]
Leaders_basic1 = pd.DataFrame(Leaders_basic.mean()).T
Leaders_basic1['Team'] = 'Division Leaders'
WC_basic = MLB.query('Team in @WC_teams')[['Team', 'BsR', 'Def','OBP', 'OPS', 'ISO', 'HR', 'RBI', 'R', 'SO', 'SB', 'AVG']]
WC_basic1 = pd.DataFrame(WC_basic.mean()).T
WC_basic1['Team'] = 'Wild Card Spots'
basic_merge = pd.concat([two_teams_basic,Leaders_basic1, WC_basic1])
basic_merge

,Team,BsR,Def,OBP,OPS,ISO,HR,RBI,R,SO,SB,AVG
11,BOS,-1.400000,-15.300000,0.315000,0.725000,0.155000,100.000000,435.000000,457.000000,844.000000,39.000000,0.254000
22,BAL,7.700000,-14.300000,0.303000,0.690000,0.153000,103.000000,397.000000,421.000000,877.000000,62.000000,0.234000
0,Division Leaders,-2.666667,0.850000,0.324833,0.748833,0.176167,133.666667,460.833333,480.166667,813.833333,47.666667,0.247667
0,Wild Card Spots,1.416667,-3.416667,0.317167,0.721667,0.158000,113.500000,429.166667,447.833333,846.666667,51.666667,0.246667

In [9]:
Bat_comparison = basic_merge.merge(adv_merge, on= 'Team')
Bat_comparison. to_excel(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Deadline Analysis\Batting_AL_East.xlsx")

In [10]:
pitch = team_pitching(2022)
pitch = pitch.dropna(axis=1, how= 'all')
#list(pitch.columns)

In [11]:
BB = pitch[['Team', 'ERA', 'ShO', 'HR', 'K/9', 'BB/9', 'WHIP', 'LOB%', 'FIP', 'GB%', 'FB%', 'LD%', 'O-Swing%', 'Z-Swing%', 'SwStr%', 'Soft%', 'Hard%', 'CSW%', 'CStr%', 'HardHit%', 'Barrel%']]
BB2 = BB.query('Team in @Teams')
BB2

,Team,ERA,ShO,HR,K/9,BB/9,WHIP,LOB%,FIP,GB%,...,LD%,O-Swing%,Z-Swing%,SwStr%,Soft%,Hard%,CSW%,CStr%,HardHit%,Barrel%
13,BAL,3.89,0,108,7.71,2.83,1.29,0.740,4.08,0.421,...,0.210,0.317,0.691,0.105,0.163,0.295,0.269,0.164,0.393,0.086
23,BOS,4.30,1,109,8.54,3.26,1.30,0.701,4.05,0.424,...,0.207,0.308,0.688,0.106,0.169,0.312,0.277,0.171,0.408,0.081

In [12]:
Leaders_pitch = BB.query('Team in @Dv_lead')
Leaders_pitch1 = pd.DataFrame(Leaders_pitch.mean()).T
Leaders_pitch1['Team'] = 'Division Leaders'
WC_pitch = BB.query('Team in @WC_teams')
WC_pitch1 = pd.DataFrame(WC_pitch.mean()).T
WC_pitch1['Team'] = 'Wild Card Spots' 
pitch_merge = pd.concat([Leaders_pitch1 ,WC_pitch1, BB2])

In [13]:
pitch_merge.to_excel(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Deadline Analysis\Pitching_AL_East.xlsx")

## BAL needs: OBP low K%, lots of doubles, High chase rate weak contact high K% pitchers, Def, BABIP (pitch), ERA

## BOS needs: HR hitters, good baserunners, defenders, low ERA, cause bad contact, OBP, BABIP(pitch)

In [26]:
average_bat = pd.DataFrame(batting_stats(2022, qual = 250).mean()).T
average_bat[['OBP', 'K%', '2B', 'OPS', 'HR', 'ISO', 'BsR', 'Def' ]]

,OBP,K%,2B,OPS,HR,ISO,BsR,Def
0,0.322276,0.211318,16.142857,0.738922,10.884793,0.164922,0.018894,-1.237788

In [27]:
Teams_bat = batting_stats(2022, qual = 250)
Teams_bat1 = Teams_bat.query('Team in @Teams') 
Teams_bat1[['Name', 'Team', 'OBP', 'K%', '2B', 'OPS', 'HR', 'ISO', 'BsR', 'Def' ]].sort_values(by='Team')

                   Name Team    OBP     K%  2B    OPS  HR    ISO  BsR   Def
138   Cedric Mullins II  BAL  0.321  0.169  23  0.706   8  0.126  2.5   2.6
86          Austin Hays  BAL  0.320  0.191  24  0.758  12  0.175  1.1  -4.4
101         Ramon Urias  BAL  0.305  0.219  13  0.755  11  0.192  1.3   3.3
195         Jorge Mateo  BAL  0.262  0.304  14  0.633   8  0.158  3.8   9.9
78         Trey Mancini  BAL  0.352  0.209  16  0.764  10  0.139 -1.4  -7.2
64    Anthony Santander  BAL  0.336  0.187  13  0.783  18  0.196 -0.6 -11.4
132    Ryan Mountcastle  BAL  0.292  0.254  21  0.731  14  0.184  0.3  -3.9
188        Rougned Odor  BAL  0.261  0.248  15  0.645  10  0.183  0.0  -2.7
3         Rafael Devers  BOS  0.379  0.182  29  0.981  22  0.278  1.2   0.2
19      Xander Bogaerts  BOS  0.389  0.204  27  0.847   8  0.143  4.8   5.0
148        Trevor Story  BOS  0.289  0.307  17  0.713  15  0.202  3.3   6.9
38        J.D. Martinez  BOS  0.358  0.237  30  0.818   9  0.172 -3.2  -9.2
92    Christian Vazquez  BOS  0.324  0.165  19  0.754   8  0.150 -8.0   3.9
161        Alex Verdugo  BOS  0.310  0.096  21  0.686   6  0.106 -1.0  -1.5
176        Bobby Dalbec  BOS  0.283  0.323   6  0.653  10  0.161  1.6  -6.1
211  Jackie Bradley Jr.  BOS  0.254  0.199  17  0.564   3  0.105 -0.9   1.1

## Good BAL players - santander and mancini only ones who help for obp
## All have low k% except odor, mountcastle, mateo, urias
## Cedric and hays only good for doubles. Urias mancini and santander good ops
## Def - cedric, urias, mateo

## Good BOS players - Devers, story good HR. Dalbec and JD look good in terms of ISO power but havent produced
## BsR - Dalbec, story, bogaerts, devers
## Def - devers, bogaerts, story, vazquez, jbj
## OBP - devers, bogaerts, JD

In [33]:
average_pitch = pd.DataFrame(pitching_stats(2022, qual = 35).mean()).T
average_pitch[['Soft%', 'K%', 'O-Swing%', 'ERA', 'BABIP']]

      Soft%        K%  O-Swing%       ERA     BABIP
0  0.170741  0.230799  0.326754  3.712265  0.283256

In [37]:
Teams_pitch = pitching_stats(2022, qual= 35)
Teams_pitch1 = Teams_pitch.query('Team in @Teams') 
Teams_pitch1[['Name', 'Team', 'Soft%', 'K%', 'O-Swing%', 'ERA', 'BABIP']].sort_values(by='Team')

                  Name Team  Soft%     K%  O-Swing%   ERA  BABIP
161        Bryan Baker  BAL  0.182  0.247     0.250  3.77  0.342
4         Cionel Perez  BAL  0.105  0.236     0.310  1.26  0.290
195    Spenser Watkins  BAL  0.133  0.138     0.316  4.03  0.296
296   Bruce Zimmermann  BAL  0.128  0.157     0.359  5.85  0.329
27         Dillon Tate  BAL  0.190  0.219     0.343  2.22  0.274
99         Dean Kremer  BAL  0.121  0.194     0.339  3.06  0.321
39         Keegan Akin  BAL  0.175  0.214     0.347  2.40  0.211
40       Joey Krehbiel  BAL  0.223  0.215     0.302  2.41  0.222
304       Kyle Bradish  BAL  0.102  0.229     0.306  7.01  0.393
15         Jorge Lopez  BAL  0.140  0.276     0.289  1.68  0.229
8       Felix Bautista  BAL  0.222  0.348     0.325  1.50  0.221
181        Tyler Wells  BAL  0.186  0.178     0.345  3.90  0.246
240       Jordan Lyles  BAL  0.183  0.187     0.302  4.56  0.316
127  Hirokazu Sawamura  BOS  0.171  0.170     0.320  3.35  0.256
271    Josh Winckowski  BOS  0.172  0.153     0.268  5.18  0.305
213       Austin Davis  BOS  0.197  0.253     0.302  4.25  0.295
218       Nick Pivetta  BOS  0.173  0.230     0.298  4.35  0.291
120       Tanner Houck  BOS  0.186  0.230     0.335  3.30  0.301
276       Ryan Brasier  BOS  0.162  0.253     0.375  5.30  0.358
206    Kutter Crawford  BOS  0.152  0.251     0.322  4.15  0.286
210          Rich Hill  BOS  0.173  0.195     0.292  4.20  0.291
59       Michael Wacha  BOS  0.166  0.176     0.312  2.69  0.240
12      John Schreiber  BOS  0.207  0.310     0.336  1.66  0.224
106   Garrett Whitlock  BOS  0.175  0.261     0.313  3.18  0.277
230     Nathan Eovaldi  BOS  0.131  0.231     0.366  4.43  0.300
194       Jake Diekman  BOS  0.143  0.298     0.262  4.03  0.278

# BAL
## K-baker, perez, lopez, bautista
## Chase - zimmerman, tate, kremer, akin, bautista, wells
## Contact - Baker, tate, akin, krehbiel,bautista, wells, lyles
## ERA - perez, tate, kremer, akin, krehbeil, lopez, bautista
## BABIP - tate, akin, krehbiel, lopez, bautista, wells

# BOS
## Contact - sawamura, winckowski, davis, pivetta, houck, hill, schreiber, whitlock
## BABIP- sawamura, wacha, schreiber, whitlock, diekman
## ERA - sawamura, houck, wacha, schreiber, whitlock

# all of these people are benefiting team so they could sell some of these

In [39]:
playoff_pic = ('NYY', 'TOR', 'TBR', 'BOS', 'BAL', 'MIN', 'HOU', 'SEA', 'CLE', 'CHW', 'NYM', 'ATL', 'MIL', 'LAD', 'SDP', 'PHI', 'STL')

In [57]:
good_bats = batting_stats(2022, qual = 250)
good_bats1 = good_bats.query('Team not in @playoff_pic') 
good_bats1 = good_bats1[['Name', 'Age', 'Team', 'OBP', 'K%', '2B', 'OPS', 'HR', 'ISO', 'BsR', 'Def' ]].sort_values(by='Team')

In [70]:
BAL_bat_players = good_bats1.query('OBP> .322 & OPS >.739 & Def > -1.24')
BAL_bat_players

,Name,Age,Team,OBP,K%,2B,OPS,HR,ISO,BsR,Def
69,Josh Rojas,28,ARI,0.358,0.199,13,0.777,6,0.137,6.4,0.0
82,Nico Hoerner,25,CHC,0.343,0.109,14,0.769,6,0.127,2.1,10.4
28,Brandon Drury,29,CIN,0.332,0.217,21,0.843,19,0.241,-2.2,0.2
102,Brendan Rodgers,25,COL,0.323,0.174,22,0.746,9,0.151,-1.7,0.0
88,Jose Iglesias,32,COL,0.345,0.122,22,0.748,3,0.101,-2.7,3.8
94,Michael A. Taylor,31,KCR,0.345,0.237,6,0.740,6,0.120,0.1,-1.1
6,Mike Trout,30,LAA,0.368,0.298,17,0.967,24,0.330,-0.6,2.0
70,Corey Seager,28,TEX,0.325,0.156,12,0.799,23,0.225,1.1,5.5
67,Jonah Heim,27,TEX,0.323,0.200,16,0.788,12,0.200,-0.3,7.4

## BAL look at - rojas, hoerner, iglasias, rodgers

In [73]:
OBP = average_bat['OBP']
K = average_bat['K%']
Double = average_bat['2B']
OPS = average_bat['OPS']
HR = average_bat['HR']
ISO = average_bat['ISO']
BsR = average_bat['BsR']
Def = average_bat['Def']
BsR

0    0.018894
Name: BsR, dtype: float64

In [78]:
BOS_power_players = good_bats1.query('OBP> .322 & HR > 10.9')
BOS_power_players
BOS_other_players = good_bats1.query('BsR > .019 & Def > -1.24')
BOS_other_players

,Name,Age,Team,OBP,K%,2B,OPS,HR,ISO,BsR,Def
98,Christian Walker,31,ARI,0.309,0.190,12,0.754,23,0.243,0.1,1.0
129,Daulton Varsho,25,ARI,0.306,0.236,15,0.723,13,0.180,1.1,7.1
69,Josh Rojas,28,ARI,0.358,0.199,13,0.777,6,0.137,6.4,0.0
142,Alek Thomas,22,ARI,0.304,0.194,11,0.699,7,0.146,1.9,3.1
203,Geraldo Perdomo,22,ARI,0.301,0.215,7,0.578,3,0.074,1.8,-0.5
82,Nico Hoerner,25,CHC,0.343,0.109,14,0.769,6,0.127,2.1,10.4
131,Ryan McMahon,27,COL,0.332,0.260,15,0.702,8,0.135,1.9,5.9
193,Javier Baez,29,DET,0.264,0.239,20,0.638,9,0.154,0.3,5.5
213,Jonathan Schoop,30,DET,0.243,0.204,15,0.558,7,0.105,1.1,16.8
94,Michael A. Taylor,31,KCR,0.345,0.237,6,0.740,6,0.120,0.1,-1.1
183,Whit Merrifield,33,KCR,0.292,0.150,22,0.640,5,0.105,1.9,-0.6
204,Nicky Lopez,27,KCR,0.297,0.143,11,0.592,0,0.050,4.1,5.8
216,Andrew Velazquez,27,LAA,0.216,0.335,6,0.480,5,0.089,2.7,7.2
192,Brandon Marsh,24,LAA,0.282,0.365,9,0.636,8,0.130,2.1,4.4
199,Tony Kemp,30,OAK,0.290,0.145,16,0.599,4,0.092,1.4,-0.6
156,Elvis Andrus,33,OAK,0.306,0.152,21,0.680,7,0.134,1.5,0.9
154,Ke'Bryan Hayes,25,PIT,0.321,0.213,17,0.677,5,0.108,1.7,10.8
189,Brandon Crawford,35,SFG,0.297,0.204,10,0.629,5,0.117,0.6,3.1
124,Thairo Estrada,26,SFG,0.316,0.153,16,0.724,9,0.145,2.2,0.7
119,Mike Yastrzemski,31,SFG,0.323,0.226,20,0.720,9,0.169,1.7,-1.1
103,Adolis Garcia,29,TEX,0.294,0.282,20,0.760,18,0.217,3.7,0.7
158,Marcus Semien,31,TEX,0.295,0.155,19,0.687,13,0.156,6.6,1.5
70,Corey Seager,28,TEX,0.325,0.156,12,0.799,23,0.225,1.1,5.5
196,Victor Robles,25,WSN,0.295,0.251,7,0.608,3,0.078,3.4,1.1

## BOS power- drury, pham,cron, flores, ruf, bel
## BOS other- mcmahon, taylor, velazquez, crawford, estrada - depth

## no players with both combo

In [81]:
good_pitch = pitching_stats(2022, qual = 35)
good_pitch1 = good_pitch.query('Team not in @playoff_pic') 
good_pitch1 = good_pitch1[['Name', 'Age', 'Team', 'Soft%', 'K%', 'O-Swing%', 'ERA', 'BABIP']].sort_values(by='Team')

In [107]:
Kp = average_pitch['K%']
Soft= average_pitch['Soft%']
Chase = average_pitch['O-Swing%']
ERA = average_pitch['ERA']
BABIP = average_pitch['BABIP']
Soft

0    0.170741
Name: Soft%, dtype: float64

In [ ]:
BOS_pitch_players = good_pitch1.query('BABIP< .283 & ERA <3.71')
BOS_pitch_players.sort_values(by = 'O-Swing%', ascending = False)

## BAL players - Barlow, sandy, pablo, moore, bass, puk, okert

## BOS Players = De Jong, Puk, Bass, moore, brebbia, barlow, alcantara, okert, coleman, bard, jackson, fulmer, gray, acevedo, lopez, crowe- many options mostly rp bulk

## alot more pitching options that meet all criteria than hitting
## still i believe they should sell some players